*{
  box-sizing: border-box;
}

body{
background-color: orange;
}
/*-calc flex container-*/
.numberViewer{
  margin: 0 auto;
  margin-top: 100px;
  width: 328px;
  /*width: 22.6%*/
  height: 406px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}
/*-calc btns flex items--*/
.calc-btn{
  font-family: Helvetica, sans-serif;
  font-weight: light;
  background-color: #64B255;
  height: 20%;
  margin: 0px;
  flex: 1 1 25%;
  border: 0.5px solid #91C988;
  color: #91C988;
  /* FIXME:  */
  /*-black txt for + - * /, change in JS code-*/
  /*color: #000;*/
  font-size: 55px;
  text-align: center;
  line-height: 20%;
  padding-top: 34px;

}
/*--display flex---*/
#viewport{
  flex: 1 1 75%;
  text-align: right;
  padding-right: 24px;
}
/*-use this light-grn for mouse-over*/
.light-grn .black-txt{
  background-color: #82C276;
}
